<!-- BACK TO MAIN SEARCH -->
<div class="container home">
  <a class="btn btn-primary" ui-sref="main">Search for a new movie</a>
</div>


<!-- MOVIE DETAILS -->
<div class="container">
    <div class="col-md-4">
        <img ng-src="{{vm.details.Poster}}">
    </div>
    <div class="col-md-8">
        <h1><b>{{vm.details.Title}}</b></h1>
        <p><b>Year: </b>{{vm.details.Year}}</p>
        <p><b>Rated: </b>{{vm.details.Rated}}</p>
        <p><b>Released: </b>{{vm.details.Released}}</p>
        <p><b>Runtime: </b>{{vm.details.Runtime}}</p>
        <p><b>Actors: </b>{{vm.details.Actors}}</p>
        <p><b>Awards: </b>{{vm.details.Awards}}</p>
        <p><b>Country: </b>{{vm.details.Country}}</p>
        <p><b>Director: </b>{{vm.details.Director}}</p>
        <p><b>Genre: </b>{{vm.details.Genre}}</p>
        <p><b>Language: </b>{{vm.details.Language}}</p>
        <p><b>Metascore: </b>{{vm.details.Metascore}}</p>
        <p><b>Plot: </b>{{vm.details.Plot}}</p>
        <p><b>Rated: </b>{{vm.details.Rated}}</p>
        <p><b>Released: </b>{{vm.details.Released}}</p>
        <p><b>Runtime: </b>{{vm.details.Runtime}}</p>
        <p><b>Writer: </b>{{vm.details.Writer}}</p>
        <p><b>Year: </b>{{vm.details.Year}}</p>
        <p><b>IMDB Rating: </b>{{vm.details.imdbRating}}</p>
        <p><b>IMDB Votes: </b>{{vm.details.imdbVotes}}</p>
    </div>
</div>
